<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yh.mfox.gpdp.mapper.query.ZhlyMapper">
    <select id="queryCount" resultType="java.util.Map">
        select MJ,LCSL
        from "GP_SZZF_K"."LYZYTJ" order by update_time desc limit 1
    </select>

    <select id="queryHxdjzb" resultType="java.util.Map">
        select distinct "SL" as num,"HXDJ" as WXCD from "GP_SZZF_K"."HXDJZB" where to_date(UPDATE_TIME,'yyyy.MM.DD') = (
            select to_date(max(UPDATE_TIME),'yyyy.MM.DD') as ti from "GP_SZZF_K"."HXDJZB")
    </select>

    <select id="queryDyx" resultType="java.util.Map">
        select ZLSL ,MSSL
        from "GP_SZZF_K"."SWDYX" order by update_time desc limit 1
    </select>

    <select id="queryFhwz" resultType="java.util.Map">
        select DWZF,DWZB,hly
        from "GP_SZZF_K"."HLFHWZ" order by update_time desc limit 1
    </select>

    <select id="queryHly" resultType="java.util.Map">
        select  XM, ZYJSZC, FZLCMC, LXDH as DH
        from "GP_SZZF_K"."HLYXXB"
        <where>
            <if test="null != name and '' != name ">
                and XM = #{name}
            </if>
        </where>
    </select>

    <select id="queryZfdw" resultType="java.util.Map" parameterType="java.lang.String">
        select DWMC,DWRS,GSDW,FZRXM,FZRDH,ZFDD as ZSDD,ZYZB as ZBMC
        from "GP_SZZF_K"."ZFDWXX"
        <where>
            <if test="dwmc != null and dwmc != ''">
                and DWMC = #{dwmc}
            </if>
        </where>
    </select>

    <select id="queryZbxq" resultType="java.util.Map" parameterType="java.lang.String">
        select "ZBMC","ZBSL","FZRXM","FZRDH"
        from "GP_SZZF_K"."ZFDWZBB" where GSDWMC = #{dwmc}
        <if test="zbmc != null and zbmc != ''">
            and ZBMC = #{zbmc}
        </if>
    </select>

    <select id="queryJbxx" resultType="java.util.Map" parameterType="java.lang.String">
        select "LCMC","DZ" as LCDZ,"SLHXDJ" as LCHXDJ,"MJ" as MJM,"QSDD","HLYSL","FZRXM","RZRDH"
        from "GP_SZZF_K"."LCJBTJ"
        <where>
            <if test="lcmc != null and lcmc != ''">
                and LCMC = #{lcmc}
            </if>
        </where>
    </select>

    <select id="querySlfgl" resultType="java.util.Map" >
        select "SLFGL"
        from "GP_SZZF_K"."SLFGL" order by "UPDATE_TIME" desc limit 1
    </select>

    <select id="queryGylxx" resultType="java.util.Map" >
        select  "GJJGYLMJ","DFLCGJJGYLMJ","JTGJJGYLMJ"
        from "GP_SZZF_K"."GJGYLXX" order by "UPDATE_TIME" desc limit 1
    </select>

    <select id="queryCountZfdw" resultType="java.util.Map">
        select count(*) as ZFDWRS,sum(ifnull(cast(DWRS as integer ),0)) as DWRS
        from "GP_SZZF_K"."ZFDWXX"
    </select>
    <select id="queryHlyCount" resultType="java.util.Map">
        select count(*) as hly from "GP_SZZF_K"."HLYXXB"
    </select>
    <select id="queryLyzytj" resultType="java.util.Map">
        select LCSL from "GP_SZZF_K"."LYZYTJ" order by "UPDATE_TIME" desc limit 1
    </select>
</mapper>