<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yh.mfox.gpdp.mapper.EduMapper">
    <select id="queryCount" resultType="java.util.Map">
        select
            (select
                 count(*)
             from "GP_SZZF_Q"."JYJGJBXXDJ") as school,sum(JZGRS) as teacher ,sum(XSZS) as student
        from "GP_SZZF_Q"."XXJBXXB";
    </select>

    <select id="queryXlfb" resultType="java.util.Map">
        select WHCD_XL,COUNT(*) as num
        from "GP_SZZF_Q"."GPSSYDWGZRYJBQKHMC" GROUP BY WHCD_XL order by COUNT(*) desc
    </select>

    <select id="queryByyx" resultType="java.util.Map">
        select WHCD_BYYX,COUNT(*) as num
        from "GP_SZZF_Q"."GPSSYDWGZRYJBQKHMC" GROUP BY WHCD_BYYX order by COUNT(*) desc
    </select>

    <select id="queryXbbl" resultType="java.util.Map" parameterType="java.lang.String">
        select ifnull(sum(aa.m),0) as m,ifnull(sum(aa.f),0) as f from (
            select (ZXSS - ZXSS_N) as m ,cast(ZXSS_N as int) as f from
            "GP_SZZF_Q"."XSFNJZXXSQKJBXX" where ND = #{date}
            union
            select (ZXSS-ZXSS_N) as m,cast(ZXSS_N as int) as f from
            "GP_SZZF_Q"."XSFNJZXXSQKJBXXXX" where ND = #{date}
            union
            select (ZYRS-ZYRS_N) as m,cast(ZYRS_N as int) as f from
            "GP_SZZF_Q"."XSFNJZXXSQKJBXXYRY" where ND = #{date}
            ) aa
    </select>
    <select id="queryJszb" resultType="java.util.Map" >
        select XB,count(*) as num   from  "GP_SZZF_Q"."GPSSYDWGZRYJBQKHMC" group by XB
    </select>

    <select id="queryType" resultType="java.util.Map" >
        select
            wm_concat(distinct BXLX)  as type
        from "GP_SZZF_Q"."JYJGJBXXDJ"
    </select>

    <select id="queryBase" resultType="java.util.Map" parameterType="java.lang.String">
        select b.XXMC as SL_NAME,b.BXLX as SL_TYPE,b.DZ as SL_ADD,
        a.XSZS,a.JZGRS,b.SFJS,b.JD,b.WD
        from  "GP_SZZF_Q"."JYJGJBXXDJ" b
        left join "GP_SZZF_Q"."XXJBXXB" a  on a.SL_NAME = b.XXMC
        <where>
            <if test=" type !=null and type !=''">
                and b.BXLX = #{type}
            </if>
            <if test=" name !=null and name !=''">
                and b.XXMC = #{name}
            </if>
        </where>
    </select>

    <select id="queryXsrs" resultType="java.util.Map" parameterType="java.lang.String">
        select JYJDCZGZZZ as name,sum(cast(ZXSS as int)) as total,sum(cast(ZXSS_N as int)) as nv from
            "GP_SZZF_Q"."XSFNJZXXSQKJBXX" where ND = #{date} group by JYJDCZGZZZ
        union
        select '小学' as name,sum(cast(ZXSS as int)) as total,sum(cast(ZXSS_N as int)) as nv from
            "GP_SZZF_Q"."XSFNJZXXSQKJBXXXX" where ND = #{date}
        union
        select '幼儿园' as name,sum(cast(ZYRS as int)) as total,sum(cast(ZYRS_N as int)) as nv  from
            "GP_SZZF_Q"."XSFNJZXXSQKJBXXYRY" where ND = #{date}
    </select>
    <select id="queryNlfb" resultType="java.util.Map" >
        select '5岁及以下' as name,count(*) as num from "GP_SZZF_Q"."ZXXSJBXXHZ"
        where SFZH is not null and YEAR(CURDATE())-CAST(SUBSTR(SFZH,7,4) AS INT) &lt;= 5
        union all
        select   '6-7岁' as name,count(*) as num from "GP_SZZF_Q"."ZXXSJBXXHZ"
        where SFZH is not null and YEAR(CURDATE())-CAST(SUBSTR(SFZH,7,4) AS INT)  &gt;= 6 and YEAR(CURDATE())-CAST(SUBSTR(SFZH,7,4) AS INT)  &lt; 7
        union all
        select   '7-8岁' as name,count(*) as num from "GP_SZZF_Q"."ZXXSJBXXHZ"
        where SFZH is not null and YEAR(CURDATE())-CAST(SUBSTR(SFZH,7,4) AS INT)  &gt;= 7 and YEAR(CURDATE())-CAST(SUBSTR(SFZH,7,4) AS INT)  &lt; 8
        union all
        select   '8-9岁' as name,count(*) as num from "GP_SZZF_Q"."ZXXSJBXXHZ"
        where SFZH is not null and YEAR(CURDATE())-CAST(SUBSTR(SFZH,7,4) AS INT)  &gt;= 8 and YEAR(CURDATE())-CAST(SUBSTR(SFZH,7,4) AS INT)  &lt;= 9
        union all
        select  '10-11岁' as name,count(*) as num from "GP_SZZF_Q"."ZXXSJBXXHZ"
        where SFZH is not null and YEAR(CURDATE())-CAST(SUBSTR(SFZH,7,4) AS INT)  &gt;= 10 and YEAR(CURDATE())-CAST(SUBSTR(SFZH,7,4) AS INT)  &lt;= 11
        union all
        select  '12岁及以上' as name,count(*) as num from "GP_SZZF_Q"."ZXXSJBXXHZ"
        where SFZH is not null and YEAR(CURDATE())-CAST(SUBSTR(SFZH,7,4) AS INT)  &gt;= 12
    </select>

    <select id="queryHjsl" resultType="java.util.Map" >
        select ifnull(tt.NAME,'其他省') as NAME ,COUNT(*) as num from
            (select substr(a.SFZH,1,4) as code ,b.NAME
             from "GP_SZZF_Q"."ZXXSJBXXHZ"  a
                      left join "GP_SZZF_Q"."BM" b on substr(a.SFZH,1,4) = b.code
             where a.SFZH IS NOT NULL AND substr(a.SFZH,1,4) != '1405') tt
        group by tt.NAME ORDER BY COUNT(*) DESC
    </select>
</mapper>