<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yh.mfox.gpdp.mapper.JyrqMapper">
    <select id="queryInfoCount" resultType="java.util.Map">
        select 'not' as name,COUNT(*) as num
        from "GP_SZZF_M"."RRCZJNSH" where JSYZT = '未就业'
        union all
        select 'is' as name ,COUNT(*) as num
        from "GP_SZZF_M"."RRCZJNSH" where JSYZT != '未就业'
        union all
        select 'all' as name ,COUNT(*) as num
        from "GP_SZZF_M"."RRCZJNSH" where JSYZT is not null
    </select>
    <select id="queryTypeInfo" resultType="java.util.Map">
        select JSYZT as name ,COUNT(*) as num
        from "GP_SZZF_M"."RRCZJNSH" where JSYZT != '未就业'  group by JSYZT
    </select>

    <select id="querySexInfoBak" resultType="java.util.Map">
        select aa.name ,count(*) as num from
            (select CASE (SUBSTR(SFZH,17,1)%2)
                        WHEN 1 THEN '男'
                        WHEN  0 THEN '女'
                        END as name
             from "GP_SZZF_M"."RRCZJNSH" where JSYZT != '未就业')   aa group by aa.name
    </select>
    <select id="querySexInfo" resultType="java.util.Map">
        select XB as name ,COUNT(*) as num
        from "GP_SZZF_M"."RRCZJNSH" where JSYZT != '未就业' and XB is not null group by XB
    </select>

    <select id="queryLwscInfo" resultType="java.util.Map">
        select '有组织劳务输出' as name ,COUNT(*) as num from "GP_SZZF_M"."RRCZJNSH"
        where SFSYZZLWSC_JYRYTX_SF is not null
          and SFSYZZLWSC_JYRYTX_SF = '是' group by SFSYZZLWSC_JYRYTX_SF
        union all
        select '无组织劳务输出' as name ,COUNT(*) as num from "GP_SZZF_M"."RRCZJNSH"
        where SFSYZZLWSC_JYRYTX_SF is not null
          and SFSYZZLWSC_JYRYTX_SF = '否'
        group by SFSYZZLWSC_JYRYTX_SF
    </select>

    <select id="queryCount" resultType="java.util.Map">
        select 'total' as name ,COUNT(*) as num
        from "GP_SZZF_M"."RRCZJNSH" where WNBS = '非务农'
        union all
        select 'bc' as name , count(*) AS NUM
        from "GP_SZZF_M"."RRCZJNSH" where PXYY_PXRQ is not null
        union all
        select 'rs' as name , count(*) AS NUM
        from "GP_SZZF_M"."RRCZJNSH" where PXYY_YWPXYY = '有'
        union all
        select 'real_rs' as name , count(*) AS NUM
        from "GP_SZZF_M"."RRCZJNSH" where PXYY_YWPXYY = '有' and PXYY_PXRQ is not null;
    </select>

    <select id="queryEduCount" resultType="java.util.Map">
        select WHCD,JSYZT as title,COUNT(*) as num from "GP_SZZF_M"."RRCZJNSH" WHERE JSYZT = '未就业' and JSYZT is not null
        GROUP BY WHCD,JSYZT
        UNION ALL
        select WHCD,'就业' as title,COUNT(*) as num from "GP_SZZF_M"."RRCZJNSH"  WHERE JSYZT != '未就业' and JSYZT is not null GROUP BY WHCD
    </select>
    <select id="queryAgeCount" resultType="java.util.Map">
        select
            '20岁及以下' as name,'未就业' as title, count(*) as num
        from "GP_SZZF_M"."RRCZJNSH" where
                SFZH is not null
                and JSYZT = '未就业'
                and JSYZT is not null
                and year(now()) - CAST(SUBSTR(SFZH,7,4) AS Integer) &lt;= 20
        union all
            select
                '20岁及以下' as name,'就业' as title, count(*) as num
            from "GP_SZZF_M"."RRCZJNSH" where
                SFZH is not null
                                          and JSYZT != '未就业'
             and JSYZT is not null
            and year(now()) - CAST(SUBSTR(SFZH,7,4) AS Integer) &lt;= 20
            union all
            select
                '20-25岁' as name,'未就业' as title, count(*) as num
            from "GP_SZZF_M"."RRCZJNSH"
            where SFZH is not null
                and JSYZT = '未就业'
                and JSYZT is not null
                and  year(now()) - CAST(SUBSTR(SFZH,7,4) AS Integer) &gt; 20 and (year(now()) - CAST(SUBSTR(SFZH,7,4) AS Integer) &lt;= 25)
            union all
            select
                '20-25岁' as name,'就业' as title, count(*) as num
            from "GP_SZZF_M"."RRCZJNSH"
            where SFZH is not null
              and JSYZT != '未就业'
            and JSYZT is not null
            and  year(now()) - CAST(SUBSTR(SFZH,7,4) AS Integer) &gt; 20 and (year(now()) - CAST(SUBSTR(SFZH,7,4) AS Integer) &lt;= 25)
            union all
            select
                '25-30岁' as name,'未就业' as title, count(*) as num
            from "GP_SZZF_M"."RRCZJNSH"
            where SFZH is not null
                and JSYZT = '未就业'
                and JSYZT is not null
                and year(now()) - CAST(SUBSTR(SFZH,7,4) AS Integer)  &gt; 25 and ( year(now()) - CAST(SUBSTR(SFZH,7,4) AS Integer) &lt;= 30)
            union all
            select
                '25-30岁' as name,'就业' as title, count(*) as num
            from "GP_SZZF_M"."RRCZJNSH"
            where SFZH is not null
              and JSYZT != '未就业'
            and JSYZT is not null
            and year(now()) - CAST(SUBSTR(SFZH,7,4) AS Integer)  &gt; 25 and ( year(now()) - CAST(SUBSTR(SFZH,7,4) AS Integer) &lt;= 30)
            union all
            select
                '30-40岁' as name,'未就业' as title, count(*) as num
            from "GP_SZZF_M"."RRCZJNSH"
            where SFZH is not null
                and JSYZT = '未就业'
                and JSYZT is not null
                and year(now()) - CAST(SUBSTR(SFZH,7,4) AS Integer)  &gt; 30 and ( year(now()) - CAST(SUBSTR(SFZH,7,4) AS Integer) &lt;= 40)
            union all
            select
                '30-40岁' as name,'就业' as title, count(*) as num
            from "GP_SZZF_M"."RRCZJNSH"
            where SFZH is not null
              and JSYZT != '未就业'
            and JSYZT is not null
            and year(now()) - CAST(SUBSTR(SFZH,7,4) AS Integer)  &gt; 30 and ( year(now()) - CAST(SUBSTR(SFZH,7,4) AS Integer) &lt;= 40)
            union all
            select
                '40-50岁' as name,'未就业' as title, count(*) as num
            from "GP_SZZF_M"."RRCZJNSH"
            where SFZH is not null
                and JSYZT = '未就业'
                and JSYZT is not null
                and year(now()) - CAST(SUBSTR(SFZH,7,4) AS Integer) &gt; 40 and ( year(now()) - CAST(SUBSTR(SFZH,7,4) AS Integer) &lt;= 50)
            union all
            select
                '40-50岁' as name,'就业' as title, count(*) as num
            from "GP_SZZF_M"."RRCZJNSH"
            where SFZH is not null
              and JSYZT != '未就业'
            and JSYZT is not null
            and year(now()) - CAST(SUBSTR(SFZH,7,4) AS Integer) &gt; 40 and ( year(now()) - CAST(SUBSTR(SFZH,7,4) AS Integer) &lt;= 50)
            union all
            select
                '50岁以上' as name,'未就业' as title, count(*) as num
            from "GP_SZZF_M"."RRCZJNSH"
            where SFZH is not null
                and JSYZT = '未就业'
                and JSYZT is not null
                and year(now()) - CAST(SUBSTR(SFZH,7,4) AS Integer) &gt; 50
            union all
            select
                '50岁以上' as name,'就业' as title, count(*) as num
            from "GP_SZZF_M"."RRCZJNSH"
            where SFZH is not null
              and JSYZT != '未就业'
            and JSYZT is not null
            and year(now()) - CAST(SUBSTR(SFZH,7,4) AS Integer) &gt; 50
    </select>
    <select id="queryJyType" resultType="java.util.Map">
        select
            WDJY_DWLX as title,count(*) as num
        from "GP_SZZF_M"."RRCZJNSH" where JSYZT = '稳定就业' and JSYZT is not null and WDJY_DWLX is not null group by WDJY_DWLX
    </select>
    <select id="queryZzType" resultType="java.util.Map">
        select
            ZZCY_CYLX as title,count(*) as num
        from "GP_SZZF_M"."RRCZJNSH" where JSYZT = '自主创业' and JSYZT is not null and ZZCY_CYLX is not null group by ZZCY_CYLX
    </select>
</mapper>