<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yh.mfox.gpdp.mapper.PxqzMapper">
    <select id="queryCount" resultType="java.util.Map">
        select 'bc' as name , count(*) AS NUM
        from "GP_SZZF_M"."RRCZJNSH" where PXYY_PXRQ is not null
        union all
        select 'rs' as name , count(*) AS NUM
        from "GP_SZZF_M"."RRCZJNSH" where PXYY_YWPXYY = '有'
        union all
        select 'real_rs' as name , count(*) AS NUM
        from "GP_SZZF_M"."RRCZJNSH" where PXYY_YWPXYY = '有' and PXYY_PXRQ is not null;
    </select>
    <select id="queryRyPx" resultType="java.util.Map">
        select PXYY_PXJNGZ as name , count(*) AS NUM
        from "GP_SZZF_M"."RRCZJNSH" where PXYY_YWPXYY = '有'
        and PXYY_PXJNGZ is not null group by PXYY_PXJNGZ order by count(*) desc
    </select>

    <select id="queryRyPxTotal" resultType="java.util.Map">
        select count(*) AS NUM
        from "GP_SZZF_M"."RRCZJNSH" where PXYY_YWPXYY = '有' and PXYY_PXJNGZ is not null
    </select>

    <select id="queryRyQz" resultType="java.util.Map">
        select QJYY_QZHY as name , count(*) AS NUM
        from "GP_SZZF_M"."RRCZJNSH" where QJYY_YWQZYY = '有' and QJYY_QZHY is not null group by QJYY_QZHY
    </select>

    <select id="queryRyQZTotal" resultType="java.util.Map">
        select count(*) AS NUM
        from "GP_SZZF_M"."RRCZJNSH" where QJYY_YWQZYY = '有' and QJYY_QZHY is not null
    </select>
    <select id="queryXbCountBak" resultType="java.util.Map">
        select aa.xb,count(*) as num  from (
            select
            CASE (SUBSTR(TRIM(SFZH),17,1)%2)
               WHEN 1 THEN '男'
               WHEN  0 THEN '女'
               END AS xb  from "GP_SZZF_M"."RRCZJNSH" where SFZH is not null and length(SFZH) = 18
       ) aa group by aa.xb
    </select>

    <select id="queryXbCount" resultType="java.util.Map">
        select XB ,count(*) from "GP_SZZF_M"."RRCZJNSH" WHERE  XB IS NOT NULL group by XB
    </select>
    <select id="queryPxCount" resultType="java.util.Map">
        select 'rs' as name , count(*) AS NUM
        from "GP_SZZF_M"."RRCZJNSH" where PXYY_YWPXYY = '有'
        union all
        select 'real_rs' as name , count(*) AS NUM
        from "GP_SZZF_M"."RRCZJNSH" where PXYY_YWPXYY = '有' and PXYY_PXRQ is not null;
    </select>
    <select id="queryPxEduCount" resultType="java.util.Map">
        select aa.WHCD,aa.title,aa.num
        from (
            SELECT WHCD,count(*) as num,'yyrs' as title FROM "GP_SZZF_M"."RRCZJNSH" where PXYY_YWPXYY ='有' group by WHCD,PXYY_YWPXYY
            union all
            SELECT WHCD,count(*) as num,'sjrs' as title FROM "GP_SZZF_M"."RRCZJNSH" where PXYY_YWPXYY ='有' and PXYY_PXRQ is not null group by WHCD,PXYY_YWPXYY
        ) aa order by WHCD,title
    </select>
    <select id="queryPxAgeCount" resultType="java.util.Map">
        select
            '20岁及以下' as name,'yyrs' as title, count(*) as num
        from "GP_SZZF_M"."RRCZJNSH" where SFZH is not null  and PXYY_YWPXYY = '有'
            and year(now()) - CAST(SUBSTR(SFZH,7,4) AS Integer) &lt;= 20
        union all
        select
            '20岁及以下' as name,'sjrs' as title, count(*) as num
        from "GP_SZZF_M"."RRCZJNSH" where SFZH is not null and PXYY_YWPXYY = '有' and PXYY_PXRQ is not null
            and year(now()) - CAST(SUBSTR(SFZH,7,4) AS Integer) &lt;= 20
        union all
        select
            '20-25岁' as name,'yyrs' as title, count(*) as num
        from "GP_SZZF_M"."RRCZJNSH" where SFZH is not null and PXYY_YWPXYY = '有'
            and  year(now()) - CAST(SUBSTR(SFZH,7,4) AS Integer) &gt; 20 and (year(now()) - CAST(SUBSTR(SFZH,7,4) AS Integer) &lt;= 25)
        union all
        select
            '20-25岁' as name,'sjrs' as title, count(*) as num
        from "GP_SZZF_M"."RRCZJNSH" where SFZH is not null and PXYY_YWPXYY = '有' and PXYY_PXRQ is not null
            and  year(now()) - CAST(SUBSTR(SFZH,7,4) AS Integer) &gt; 20 and (year(now()) - CAST(SUBSTR(SFZH,7,4) AS Integer) &lt;= 25)

        union all
        select
            '25-30岁' as name,'yyrs' as title, count(*) as num
        from "GP_SZZF_M"."RRCZJNSH" where SFZH is not null and PXYY_YWPXYY = '有'
            and year(now()) - CAST(SUBSTR(SFZH,7,4) AS Integer) &gt; 25 and ( year(now()) - CAST(SUBSTR(SFZH,7,4) AS Integer) &lt;= 30)

        union all
        select
            '25-30岁' as name,'sjrs' as title, count(*) as num
        from "GP_SZZF_M"."RRCZJNSH" where SFZH is not null and PXYY_YWPXYY = '有' and PXYY_PXRQ is not null
            and year(now()) - CAST(SUBSTR(SFZH,7,4) AS Integer) &gt; 25 and ( year(now()) - CAST(SUBSTR(SFZH,7,4) AS Integer) &lt;= 30)

        union all
        select
            '30-40岁' as name,'yyrs' as title , count(*) as num
        from "GP_SZZF_M"."RRCZJNSH" where SFZH is not null and PXYY_YWPXYY = '有'
            and year(now()) - CAST(SUBSTR(SFZH,7,4) AS Integer) &gt; 30 and ( year(now()) - CAST(SUBSTR(SFZH,7,4) AS Integer) &lt;= 40)

        union all
        select
            '30-40岁' as name,'sjrs' as title , count(*) as num
        from "GP_SZZF_M"."RRCZJNSH" where SFZH is not null and PXYY_YWPXYY = '有' and PXYY_PXRQ is not null
            and year(now()) - CAST(SUBSTR(SFZH,7,4) AS Integer) &gt; 30 and ( year(now()) - CAST(SUBSTR(SFZH,7,4) AS Integer) &lt;= 40)
        union all
        select
            '40-50岁' as name,'yyrs' as title, count(*) as num
        from "GP_SZZF_M"."RRCZJNSH" where SFZH is not null and PXYY_YWPXYY = '有'
            and year(now()) - CAST(SUBSTR(SFZH,7,4) AS Integer) &gt; 40 and ( year(now()) - CAST(SUBSTR(SFZH,7,4) AS Integer) &lt;= 50)
        union all
        select
            '40-50岁' as name,'sjrs' as title, count(*) as num
        from "GP_SZZF_M"."RRCZJNSH" where SFZH is not null and PXYY_YWPXYY = '有' and PXYY_PXRQ is not null
            and year(now()) - CAST(SUBSTR(SFZH,7,4) AS Integer) &gt; 40 and ( year(now()) - CAST(SUBSTR(SFZH,7,4) AS Integer) &lt;= 50)
        union all
        select
            '50岁以上' as name,'yyrs' as title, count(*) as num
        from "GP_SZZF_M"."RRCZJNSH" where SFZH is not null and PXYY_YWPXYY = '有'
            and year(now()) - CAST(SUBSTR(SFZH,7,4) AS Integer) &gt; 50
        union all
        select
            '50岁以上' as name,'sjrs' as title, count(*) as num
        from "GP_SZZF_M"."RRCZJNSH" where SFZH is not null and PXYY_YWPXYY = '有' and PXYY_PXRQ is not null
            and year(now()) - CAST(SUBSTR(SFZH,7,4) AS Integer) &gt; 50
    </select>

    <select id="queryQzCount" resultType="java.util.Map">
        select 'qz' as name, count(*) AS NUM
        from "GP_SZZF_M"."RRCZJNSH" where QJYY_YWQZYY = '有'
        union all
        select 'dw' as name, count(*) AS NUM
        from "GP_SZZF_M"."RRCZJNSH" where YWDWLDSCYY_YWYY = '有'
    </select>
    <select id="queryQzXz" resultType="java.util.Map">
        select QJYY_QWXZ_YPJ as name , count(*) AS NUM
        from "GP_SZZF_M"."RRCZJNSH" where QJYY_YWQZYY = '有' and QJYY_QWXZ_YPJ is not null group by QJYY_QWXZ_YPJ
    </select>
    <select id="queryPxType" resultType="java.util.Map">
        select ifnull(count(*),0) as num  from (
         select PXYY_PXJNGZ,count(*) as num from "GP_SZZF_M"."RRCZJNSH"
         where PXYY_YWPXYY = '有' and PXYY_PXJNGZ is not null
         group by PXYY_PXJNGZ) a
    </select>
    <select id="queryPxTotal" resultType="java.util.Map">
        select count(*) AS NUM from "GP_SZZF_M"."RRCZJNSH"
        where PXYY_YWPXYY = '有' and PXYY_PXJNGZ is not null
    </select>
    <select id="queryPxTypeInfo" resultType="java.util.Map">
        select PXYY_PXJNGZ,count(*) as num from "GP_SZZF_M"."RRCZJNSH"
        where PXYY_YWPXYY = '有' and PXYY_PXJNGZ is not null
        group by PXYY_PXJNGZ
    </select>
    <select id="queryPxRyJyType" resultType="java.util.Map">
        select 'lh' as name, count(*) as num from "GP_SZZF_M"."RRCZJNSH"
        where PXYY_YWPXYY = '有' and PXYY_PXJNGZ is not null and LHJY_LHJYFS is not null
        union all
        select 'xyt' as name, count(*) as num from "GP_SZZF_M"."RRCZJNSH"
        where PXYY_YWPXYY = '有' and PXYY_PXJNGZ is not null and XYTJY_XYTJYFS is not null
        union all
        select 'zz' as name, count(*) as num from "GP_SZZF_M"."RRCZJNSH"
        where PXYY_YWPXYY = '有' and PXYY_PXJNGZ is not null and ZZCY_CYLX is not null
        union all
        select 'wd' as name, count(*) as num from "GP_SZZF_M"."RRCZJNSH"
        where PXYY_YWPXYY = '有' and PXYY_PXJNGZ is not null and WDJY_DWLX is not null
    </select>
</mapper>