<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yh.mfox.gpdp.mapper.SjzcMapper">
    <select id="queryCount" resultType="java.util.Map">
        select ifnull("total_count",0),ifnull("into_organization",0),ifnull("resource_num",0),ifnull("total_store",0),ifnull("exchange",0)
        from "GP_SZZF_R"."WKYPT_TOTAL_OVERVIEW"
        where to_char("sync_date",'YYYY-MM-DD') =  add_days(curdate(),-1);
    </select>
    <select id="queryJrzl" resultType="java.util.Map">
        select "name","total"
        from "GP_SZZF_R"."WKYPT_ACCESS_TOTAL"
        where to_char("sync_date",'YYYY-MM-DD') =  add_days(curdate(),-1)
        order by "total" desc
    </select>
    <select id="queryRzl" resultType="java.util.Map">
        select "name","total"
        from "GP_SZZF_R"."WKYPT_DAILY_INCREASE"
        where to_char("sync_date",'YYYY-MM-DD') =  add_days(curdate(),-1)
        order by "total" desc
    </select>
    <select id="queryQb" resultType="java.util.Map">
        select a.name,sum(a.jrzl) jrzl,sum(a.rzl) rzl from
            (
                select "name" as name,"total" as jrzl ,0 as rzl
                from "GP_SZZF_R"."WKYPT_ACCESS_TOTAL"
                where to_char("sync_date",'YYYY-MM-DD') =  add_days(curdate(),-1)
                union  all
                select "name" as name,"total" as rzl, 0 as jrzl
                from "GP_SZZF_R"."WKYPT_DAILY_INCREASE"
                where to_char("sync_date",'YYYY-MM-DD') =  add_days(curdate(),-1)
            )a  group by  a.name

    </select>
    <select id="queryKbsl" resultType="java.util.Map">
        select "name","insert_num","update_num","last_report_time"
        from "GP_SZZF_R"."WKYPT_TABLENUM"
        where to_char("sync_date",'YYYY-MM-DD') =  add_days(curdate(),-1)
    </select>
    <select id="querySpsl" resultType="java.util.Map">
        select SBPT,count(*) as num
        from "GP_SZZF_W"."SP" group by SBPT
    </select>
    <select id="queryQbpc" resultType="java.util.Map">
        select a.name,sum(a.insert_num) insert_num,sum(a.update_num) update_num,sum(a.num) num from
            ( select "name" as name,"insert_num" as insert_num,"update_num" as update_num, 0 as num
              from "GP_SZZF_R"."WKYPT_TABLENUM" where to_char("sync_date",'YYYY-MM-DD') = add_days(curdate(),-1) union
              select SBPT as name,0 as insert_num,0 as update_num,count(*) as num from "GP_SZZF_W"."SP" group by SBPT ) a
        group by a.name
    </select>
    <select id="queryExchange" resultType="java.util.Map">
        select "day_exchange_num","month_exchange_num",
               "into_organization","into_city","into_resource","into_resource_data","into_resource_file",
               "into_resource_api","share_data","share_file","share_api","total_exchange",
               "total_exchange_store","exchange_resource","total_theme","total_theme_store",
               "theme_resource","total_dept","total_dept_store","dept_resource","wash_data","offline_num",
               "data_num","real_data" from "GP_SZZF_R"."WKYPT_EXCHANGE_SHARED"
        where to_char("sync_date",'YYYY-MM-DD') =  add_days(curdate(),-1)
    </select>
    <select id="querySjzl" resultType="java.util.Map">
        select "total_data_data","problem_data"
        from "GP_SZZF_R"."WKYPT_DATA_QUALITY"
        where to_char("sync_date",'YYYY-MM-DD') =  add_days(curdate(),-1)
    </select>
    <select id="queryXlpmLx" resultType="java.util.Map">
        select "dept","correct_data","problem_data","not_data"
        from "GP_SZZF_R"."WKYPT_OFFLINE"
        where to_char("sync_date",'YYYY-MM-DD') =  add_days(curdate(),-1)
    </select>
    <select id="queryXlpmSs" resultType="java.util.Map">
        select "BM","ZQJHSL","WTJHSL","WJHSL"
        from "GP_SZZF_R"."XLPM_SS" order by ZQJHSL desc
    </select>
    <select id="queryXlpmQb" resultType="java.util.Map">
        select "BM","ZQJHSL","WTJHSL","WJHSL"
        from "GP_SZZF_R"."XLPM_QB" order by ZQJHSL desc
    </select>
    <select id="queryWts" resultType="java.util.Map">
        select "Query_data_volume","Volume_unquestioned"
        from "GP_SZZF_R"."WKYPT_QUESTION_PROPORTION"
        where to_char("sync_date",'YYYY-MM-DD') =  add_days(curdate(),-1)
    </select>
    <select id="querySpCount" resultType="java.util.Map">
        select count(*) as num from "GP_SZZF_W"."SP"
    </select>
</mapper>